---
import Layout from "../layouts/Layout.astro";
import TheHeader from "../components/TheHeader.astro";
import MyProfile from "../components/MyProfile.astro";
import TheProyects from "../components/TheProyects.astro";
import WorkExperience from "../components/WorkExperience.astro";
---

<Layout title="Miguel Olea">
	<main class="max-w-5xl m-auto">
		<TheHeader />
		<MyProfile />
		<TheProyects />
		<WorkExperience />
	</main>
</Layout>
