---
console.log(Astro.url.pathname);
let classButtonEs  = 'p-2 rounded-l-lg';
let classButtonEn  = 'p-2 rounded-r-lg';

if(Astro.url.pathname === '/'){
  classButtonEs += ' bg-white';
}else{
  classButtonEn += ' bg-white';
}
---
<header class="flex justify-between items-center font-medium">
  <span class="text-center text-3xl">MAOD</span>
  <nav class="hidden sm:block">
    <ul
      class="flex px-3 py-2 border rounded-full border-white/50 text-white backdrop-blur-sm"
    >
      <li>
        <a
          class="relative block px-3 transitio hover:bg-white hover:text-black hover:rounded-full"
          href="#exp">Experiencia</a
        >
      </li>
      <li>
        <a
          class="relative block px-3 transitio hover:bg-white hover:text-black hover:rounded-full"
          href="#proyects">Proyectos</a
        >
      </li>
    </ul>
  </nav>
  <div class="flex border rounded-lg">
    <a id="buttonEs" href="/" class={classButtonEs}>
      <img class="w-8" src="/mexico.svg" alt="español" />
    </a>
    <a id="buttonEn" href="/en" class={classButtonEn}>
      <img class="w-8" src="/usa.svg" alt="ingles" />
    </a>
  </div>
</header>
