---
import { PROYECTS } from "../shared/constants";
import ProyectItem from "./ProyectItem.astro";
import TheSection from "./TheSection.astro";
---

<TheSection
  id="proyects"
  title="Proyects"
  description="These are some of the projects I've built."
>
  <div class="flex w-full overflow-x-auto overflow-y-hidden scroll gap-8">
    {
      PROYECTS.map((proyect) => (
        <ProyectItem
          title={proyect.title}
          src={proyect.src}
          github={proyect.github}
          demo={proyect.demo}
        />
      ))
    }
  </div>
</TheSection>
